body {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1em;
  color: #222;
}

.grid {
  display: inline-block;
  position: relative;
  background-color: white;
  border-top: 1em black solid;
  border-bottom: 1em black solid;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

.col-2-3 {
  width: 66.66%;
}

.col-2-3 .summary {
  position: absolute;
  top: 58%;
  transform: translate(0, -50%);
}

.col-1-3 {
  width: 33.33%;
}

div.headshot {
  background: url('images/JK_Headshot2.jpg');
  background-size: cover;
}

.col-1-3 img{
  display: inline-block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

span.emphasis {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  line-height: 0.7em;
  font-variant: small-caps;
  margin-bottom: 30px;
  color: black;
}

p {
  font-size: 1.1em;
}

p.underText{
  font-size: 1.25em;
  color: white;
  display: inline-block;
  text-align: center;
  text-shadow: black 2px 2px 2px;
}

i {
  color: white;
  font-size: 35px!important;
  text-decoration: none;
  text-shadow: black 2px 2px 2px;
}

a i:hover {
  text-decoration: none;
  color: #4078c0;
}

ul.icons i {
  font-size: 80px!important;
  text-shadow: black 2px 2px 2px;
}

/* Header */
.masthead{
  text-align: center;
}

.masthead img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.masthead-heading {
  text-align: center;
  color: white;
  padding: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.masthead {
  background-image: url("http://i.imgur.com/96p6fTD.jpg");
  padding: 6em 0;
  background-repeat: repeat;
  border-top: solid 1em #000;
}

.mastfooter {
  background-image: url("http://i.imgur.com/96p6fTD.jpg");
  padding: 10em 0;
  background-repeat: repeat;
  border-top: solid 1em #000;
}

ul.evenSpacing li {
  width: 33%;
}

ul.evenSpacing li p{
  padding: 0 1.1em 0 1.1em;
}

.intro {
  margin: auto;
}

.quote{
  margin: -10px auto 0 auto;
  padding: 2em 0 2em 0;
  background-image: url("images/bg.jpg");
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  border-bottom: 1em black solid;
}

.quote h3{
  text-align: center;
  font-family: "Gentium Book Basic", Georgia, serif;
  color: white;
  font-size: 2em;
  text-shadow: 1px 1px 1px #000;
}

.portfolio {
  max-width: 75em;
  margin: 0 auto 0 auto;
  padding: 4em 0 6em 0;
}

.portfolio h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 4em;
  color: #000;
  line-height: 0.8em;
  font-variant: small-caps;
  margin-bottom: 30px;
}

.portfolio h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 4em;
  color: #000;
  line-height: 0.8em;
  font-variant: small-caps;
  margin-bottom: 65px;
  text-align: center;
}

.portfolio li {
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
  width: 50%;
}

.portfolio li img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.mywork {
  display: flex;
}

.mastfooter-intro {
  color: white;
  text-align: center;
  padding: 0.1em;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 3em;
  line-height: 0.8em;
  font-variant: small-caps;
  text-shadow: black 2px 2px 2px;
}

.mastfooter-links > li, .mastfooter p{
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.mastfooter-links {
  text-align: center;
}

.mastfooter-links > li{
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
}

.more h2 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.content ul {
  text-align: center;
  padding: 0;
  width: 100%;
  
}

.content ul li {
  display: inline;
  padding: 0 1em 0 1em;
  font-size: 0.8em;
}

.content ul.resume {
  text-align: center;
  padding: 0;
  
}

.content ul.resume li {
  display: inline;
  padding: 0 2em 0 2em;
  font-size: 1.5em!important;
}

.content ul {
  text-align: center;
  padding: 0;
  width: 100%;
  
}

/* Skills */
ul li{
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  list-style: none;
  line-height: 40px;
  font-size: 1.5em;
}

ul.skills {
  margin-top: 30px;
}

ul.skills li a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 0.8em;
  font-variant: small-caps;
  color: black;
  border: 2px solid black;
  padding: 5px 60px 5px 60px;
  cursor: pointer!important;
}

ul.skills li a:visited {
  text-decoration: none;
}

ul.skills li a:hover {
  text-decoration: none;
  color: white;
  border: 2px solid #337ab7;
  background-color: #337ab7;
}

ul.skills li a:active {
  text-decoration: none;
  color: white;
  border: 2px solid #337ab7;
  background-color: #337ab7;
}

.summary {
  height: 335px;
  width: 100%;
}

.summary h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 0;
  font-variant: small-caps;
}

.summary p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
}

.skillsImage {
  /* border: 1px solid black; */
  width: 32%;
  float: left;
  text-align: center;
  top: 55%;
}

.skillsDetails {
  /* border: 1px solid black; */
  width: 33%;
  float: left;
}

.skillsDetails li {
  font-size: 1.28em;
}

.skillsDetails p{
  font-family: "Oswald", sans-serif;
  font-size: 1.25em;
  opacity: 0;
}

/* Portfolio */
#display-zone2.show-zone {
    opacity: 1;
    height: 350px;
}

#closeThis {
  float: right;
  font-size: 28px;
  color: black;
  z-index: 1000;
  cursor: pointer!important;
}

.thumbnails {
  padding: 0!important;
  text-align: center;
}

.thumbnail {
    max-width: 360px;
    max-height: 240px;
}

#display-zone2 {
    opacity: 0;
    height: 0px;
    -webkit-transition: 1.5s;
    transition: 0.6s;
}

.btn {
  border: 2px #000 solid!important;
  padding: 1em 2em 1em 2em!important;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  background-color: #000;
  border-radius: 0!important;
}

.btn:hover {
    color: #000!important;
    background-color: #fff!important;
}

.image-load img {
    margin-top: 50px;
}

li.span3 {
  width: 23.6%;
  display: inline-block;
}

img { max-width:100%; }

a.carousel-control {
  top: 96%;
}

/* .carousel-control.left {
    margin-left: 40px;
}

.carousel-control.right {
    margin-right: 66px;
} */

.display-zone3 {
    display:block!important;
    opacity: 1;
    transition: 1.2s;
}

.image-load {
    /* border: 1px black solid; */
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 40px;
    text-align: center;
}

.description-load {
    /* border: 1px black solid; */
    width: 55%;
    height: 100%;
    float: right;
    margin-right: 66px;
}

.description-load .content {
  position: absolute;
  text-align: left;
  transform: translate(0, 20%);
  margin: 23px 50px 0 50px;
  max-width: 350px;
}

.portfolioContent {
  margin-top: 50px;
}

/* Carousel Control */
.carousel {
  position: initial!important;
}

.control-box {
    text-align: right;
    width: 100%;
    }
    .carousel-control{
        background: #666;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 15px;
        }

.thumbnail {
  border: none!important;
  padding: 0!important;
}

/* MOBILE */
@media (max-width: 767px) {
    .page-header, .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}

@media (max-width: 699px) {
    .display-zone3 {
        display:block;
    }
    .image-load{
        margin: 0;
        width: 100%;
        height: initial;
    }
    .description-load {
        margin: 0;
        width: 100%;
    }
    .image-load img {
      margin-top: 0;
    }
}

@media only screen and (max-width: 1295px) {
  .col-1-3, .col-2-3 {
    width: 50%;
  }

  .summary {
    height: auto;
  }

  .portfolio h1 {
    font-size: 3em;
  }

  ul.skills li a {
    padding: 0 20px 0 20px;
    font-size: 1.1em;
  }

  .portfolio {
    padding: 3em 3em 4em 3em;
  }

  .skillsDetails li {
    line-height: 2.5em;
  }

  .skillsDetails{
    margin-top: -25px;
    width: 31%;
  }

  .skillsImage {
    margin-top: -25px;
    width: 15%;
    margin-left: 40px;
  }

  .col-2-3 li{
    font-size: 1.1em;
  }

  ul.skills li{
    font-size: 1em;
  }

  .col-2-3 .summary {
    top: 57%;
  }
}

 @media only screen and (max-width: 1055px) {
  .skillsImage img{
  margin-top: 40px;
  margin-bottom: 20px;
  }


  .col-2-3 {
    width: 100%;
  }

  .col-2-3 .summary {
    position: relative;
    top: 0;
    transform: translate(0,0);
  }
  
  .portfolio {
    padding-bottom: 2em;
  }

  .col-1-3 {
    width: 100%;
  }

  .col-1-3 img {
    width: 100%;
    height: auto;
  }

  .skillsDetails {
    width: 45%;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .skillsImage {
    width: 45%;
  }
}


@media only screen and (max-width: 595px) {
  .masthead-heading {
    font-size: 3em;
  }
  .masthead {
    padding: 3em 0;
  }

  .skillsImage img {
    margin-top: 10px;
    padding: 20px 0 20px 0;
  }

  .portfolio h1 {
    font-size: 1.8em;
  }

  .content ul li img {
    width: 75px;
  }

  .skillsImage {
    height: auto;
    width: 100%;
    margin-bottom: -25px;
    margin-left: 0;
  }

  .skillsDetails {
    width: 100%;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  ul.skills {
  margin-top: 10px;
  }

  ul.skills li a {
  font-size: 1em;
  }

  .skillsDetails ul li {
    font-size: 0.8em;
  }

  ul.overview {
    margin-left: -25px;
  }
}

@media only screen and (max-width: 488px) {
  ul.skills li {
    padding: 0 2px;
  }
}




















