body {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1em;
  color: #222;
}

.grid {
  display: inline-block;
  position: relative;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

.col-2-3 {
  width: 66.66%;
  padding-top: 2em;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-3 img{
  display: inline-block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.summary h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 0;
  font-variant: small-caps;
}

p {
  font-size: 1.1em;
}

.summary p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
}
.masthead img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.masthead-heading {
  text-align: center;
  color: white;
  padding: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.masthead, .mastfooter {
  background-image: url("http://i.imgur.com/96p6fTD.jpg");
  padding: 6em 0;
  background-repeat: repeat;
  border-top: solid 1em #000;
}

.intro, .where, .more{
  margin: 2em auto 0 auto;
  max-width: 38em;
}

.quote{
  margin: -10px auto 0 auto;
  padding: 8em 0 8em 0;
  background-image: url("images/airplane.jpg");
  background-position: center center;
  background-attachment: fixed;
}

.quote h3{
  text-align: center;
  font-family: "Gentium Book Basic", Georgia, serif;
  color: white;
  font-size: 2em;
  text-shadow: 1px 1px 1px #000;
}

.portfolio {
  max-width: 60em;
  margin: 2em auto 0 auto;
}

.portfolio h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 3em;
  line-height: 0.8em;
  font-variant: small-caps;
}

.portfolio li {
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
  width: 50%;
}

.portfolio li img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.mywork {
  display: flex;
}

.mastfooter-intro {
  color: white;
  text-align: center;
  padding: 0.1em;
}

.mastfooter-links > li, .mastfooter p{
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.mastfooter-links {
  text-align: center;
}

.mastfooter-links > li{
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
}

.mastfooter-links a {
  color: #fff;
}

.mastfooter-links a:hover {
  color: blue;
}

.more h2 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

@media only screen and (max-width: 550px) {
  .masthead-heading {
    font-size: 3em;
  }
  .masthead {
    padding: 3em 0;
  }
  .intro, .where, .more {
    margin: 2em auto 0 auto;
    max-width: 24em;
  }
}